/*ideal logo*/
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 120px;
    height: auto;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #eef2f7, #dfe9f3);
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* FRAME LIST */
.frame-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 25px 0;
}

/* THUMBNAILS */
.thumb {
    width: 120px;
    height: 75px;
    object-fit: contain;
    background: white;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}

.thumb.active {
    border: 3px solid red;
}

/* 🔥 FIXED FRAME CONTAINER */
.frame-container {
    position: relative;
    width: 700px;
    height: auto;
    margin: 30px auto;
}

/* FRAME */
.frame {
    width: 100%;
    display: block;
}

/* 🔥 IMPORTANT: INNER AREA FIX */
.inner-photo {
    position: absolute;

    overflow: hidden;
}

/* IMAGE */
.inner-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: grab;
}